################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WinMTR/v16
/Release
/Release_x64
/WinMTR.suo
/Debug
/Debug_x64
*.user
