################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Release
/Release_x64
/WinMTR.suo
/Debug
/Debug_x64
*.user
*.aps
/CMakeFiles
/out/build
/WinMTR.dir/Debug
/x64/Debug/ZERO_CHECK
*.filters
/WinMTRConfig.h
/CMakeCache.txt
/Debug_x64_san
/packages/Microsoft.Windows.CppWinRT.2.0.210624.2
